<template>
  <div class="game" :style="cssStyles">
    <div class="timer">
      {{ !!this.wait ? "WAIT" : timer.left }}
    </div>

    <div class="gamefield">
      <div
        v-for="(cell, index) in cells"
        :key="index"
        :class="{
          cell,
          zero: cell.caption === '0',
          grabbed: grabbed.element === cell.caption,
        }"
        @mousedown="handleGrab($event, cell)"
        @touchstart="handleGrab($event, cell)"
      >
        {{ cell.caption }}
      </div>
    </div>

    <button @click="handleReset">Reset</button>
  </div>
</template>

<script>
export default {
  name: "Game",
  data: () => {
    const X = 4;
    const Y = 4;
    return {
      timer: {
        totaltime: Math.round(Math.pow(X*Y, 2)),
        left: null,
        interval: null,
      },
      cells: [...Array(X * Y)].map((_, index, arr) => {
        return {
          caption: arr.length - 1 == index ? "0" : (index + 1).toString(),
        };
      }),
      grabbed: {
        element: null,
        startPos: null,
      },
      wait: true,
      gameField: {
        X,
        Y,
      },
      cssStyles: {
        "--field-X": X,
        "--field-Y": Y,
      },
    };
  },
  methods: {
    handleReset: function() {
      const newField = [];
      this.cells.forEach((cell, index, arr) => {
        var randIndex = 0;
        do {
          randIndex = Math.round(Math.random() * (arr.length - 1));
        } while (newField[randIndex] != undefined);

        newField[randIndex] = cell;
        this.cells = newField;
        this.wait = false;
      });

      this.timer.left = this.timer.totaltime;
      clearInterval(this.timer.interval);
      this.timer.interval = setInterval(() => {
        if (--this.timer.left <= 0) {
          this.handleLoose();
        }
        this.$forceUpdate();
      }, 1000);
    },
    handleGrab: function(event, cell) {
      if (cell.caption != "0") {
        const parentEv = event;

        if (event.type === "touchstart") {
          if (!this.grabbed.element && event.touches.length === 1) {
            this.grabbed.element = cell.caption;

            this.grabbed.startPos = {
              x: event.touches[0].clientX,
              y: event.touches[0].clientY,
            };

            this.grabbed.moveEvent = (event) => {
              this.handleMove(event, parentEv.target);
            };
            this.grabbed.releaseEvent = (event) => {
              this.handleRelease(event, parentEv.target, cell.caption);
            };

            window.addEventListener("touchend", this.grabbed.releaseEvent);
            window.addEventListener("touchmove", this.grabbed.moveEvent);
          }
        } else {
          this.grabbed.element = cell.caption;

          this.grabbed.startPos = {
            x: event.clientX,
            y: event.clientY,
          };

          this.grabbed.moveEvent = (event) => {
            this.handleMove(event, parentEv.target);
          };
          this.grabbed.releaseEvent = (event) => {
            this.handleRelease(event, parentEv.target, cell.caption);
          };

          window.addEventListener("mouseup", this.grabbed.releaseEvent);
          window.addEventListener("mousemove", this.grabbed.moveEvent);
        }
      }
    },
    handleMove: function(event, target) {
      const maxDisplace = 30;

      const delX = Math.min(
        maxDisplace,
        Math.max(
          -maxDisplace,
          (event.clientX || event.touches[0].clientX) - this.grabbed.startPos.x
        )
      );
      const delY = Math.min(
        maxDisplace,
        Math.max(
          -maxDisplace,
          (event.clientY || event.touches[0].clientY) - this.grabbed.startPos.y
        )
      );

      const xRange = Math.abs(delY);
      const yRange = Math.abs(delX);

      if (delY > maxDisplace / 3 && Math.abs(delX) < xRange) {
        this.grabbed.dir = "down";
      }

      if (delY < -maxDisplace / 3 && Math.abs(delX) < xRange) {
        this.grabbed.dir = "up";
      }

      if (delX > maxDisplace / 3 && Math.abs(delY) < yRange) {
        this.grabbed.dir = "right";
      }

      if (delX < -maxDisplace / 3 && Math.abs(delY) < yRange) {
        this.grabbed.dir = "left";
      }

      if (
        (delY > maxDisplace / 3 || delY < -maxDisplace / 3) &&
        Math.abs(delX) < xRange
      ) {
        target.style.transform = `translateX(${0}px) translateY(${delY}px)`;
      }

      if (
        (delX > maxDisplace / 3 || delX < -maxDisplace / 3) &&
        Math.abs(delY) < yRange
      ) {
        target.style.transform = `translateX(${delX}px) translateY(${0}px)`;
      }
    },
    handleRelease: function(event, target, caption) {
      this.grabbed.element = null;
      window.removeEventListener("mouseup", this.grabbed.releaseEvent);
      window.removeEventListener("mousemove", this.grabbed.moveEvent);

      window.removeEventListener("touchend", this.grabbed.releaseEvent);
      window.removeEventListener("touchmove", this.grabbed.moveEvent);

      const currIndex = this.cells.findIndex((el) => el.caption === caption);
      const currCell = this.cells[currIndex];
      var checkIndex;

      if (
        this.grabbed.dir === "right" &&
        (currIndex % this.gameField.X) != (this.gameField.X - 1)
      ) {
        checkIndex = currIndex + 1;
      } else if (
        this.grabbed.dir === "left" &&
        Math.ceil(currIndex / this.gameField.X) != 0
      ) {
        checkIndex = currIndex - 1;
      } else if (
        this.grabbed.dir === "up" &&
        Math.floor(currIndex / this.gameField.Y) != 0
      ) {
        checkIndex = currIndex - this.gameField.X;
      } else if (
        this.grabbed.dir === "down" &&
        Math.floor(currIndex / this.gameField.Y) != this.gameField.Y - 1
      ) {
        checkIndex = currIndex + this.gameField.X;
      } else {
        checkIndex = null;
        target.style.transform = `translateX(0) translateY(0)`;
      }

      if (checkIndex !== null) {
        const doEvent = this.cells[checkIndex].caption === "0";

        if (doEvent) {
          target.style.transform = `translateX(${
            this.grabbed.dir === "left"
              ? "-100%"
              : this.grabbed.dir === "right"
              ? "100%"
              : "0"
          }) translateY(${
            this.grabbed.dir === "up"
              ? "-100%"
              : this.grabbed.dir === "down"
              ? "100%"
              : "0"
          })`;

          setTimeout(() => {
            if (doEvent) {
              this.$set(this.cells, checkIndex, currCell);
              this.$set(this.cells, currIndex, {
                caption: "0",
              });
            }
            target.style.transform = `translateX(0) translateY(0)`;
            this.handleCheckWin();
          }, 200);
        } else {
          target.style.transform = `translateX(0) translateY(0)`;
        }
      }

      this.grabbed.dir = null;
      this.grabbed.startPos = null;
    },

    handleCheckWin() {
      if (
        !this.wait &&
        this.cells.every(
          (el, index) => Number(el.caption) === index + 1 || el.caption === "0"
        )
      ) {
        alert(`win!!\nelapsed: ${this.timer.totaltime - this.timer.left} sec`);
        clearInterval(this.timer.interval);
        this.wait = true;
      }
    },

    handleLoose() {
      if (!this.wait) {
        alert(`Game over :(`);
        clearInterval(this.timer.interval);
        this.wait = true;
      }
    },
  },
};
</script>

<style scoped lang="scss">
$fieldColor: #353535;
$cellColor: #bbbbbb;
$cellColor__grabbed: #ffffff;
$numsColor: #000000;

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 64px;
  width: 64px;
  background: $cellColor;
  color: $numsColor;
  cursor: pointer;
  border: 1px solid $fieldColor;

  transition: 0.2s ease transform;

  &.zero {
    background: transparent;
    cursor: default;
    border: none;

    color: transparent;
  }

  &.grabbed {
    z-index: 2;
    background: $cellColor__grabbed;
  }
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.gamefield {
  width: auto;
  display: grid;
  grid-template-columns: repeat(var(--field-X), 1fr);
  grid-template-rows: repeat(var(--field-Y), 1fr);
  border: 10px inset #a7a7a7;
  background: $fieldColor;
  margin-bottom: 24px;
  border-radius: 8px;
}

.timer {
  margin-bottom: 24px;
  border: 8px outset #a7a7a7;
  width: 6em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #0f0;
  font-size: 32px;
  border-radius: 8px;
}

button {
  font-size: 32px;
  width: 6em;
  height: 2em;
  border: 8px outset #a7a7a7;
  border-radius: 8px;
  background: $cellColor;

  &:active {
    border: 8px inset #a7a7a7;
  }
}
</style>
